<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="TestNGTest">



    <test name="TestNGTest2">
    <parameter name="URL" value="abcclickacademy.com"/>
    <groups>
    <run>
    <exclude name="Smoke" />
    </run>
    </groups>
        <classes>
            <class name="Test.Day1NormalTest">
            <methods>
            <include name="demo2"/>
            </methods>
            </class>
            <class name="Test.Day2NormalTest"/>
            <class name="Test.Day3Test"/>
        </classes>
    </test>

    <test name="TestNGTest3">
    <parameter name="URL" value="qaclickacademy.com"/>
        <classes>
            <class name="Test.CarLoanTest">
            <methods>
            <exclude name = "CarWebtest"/>
            </methods>
            </class>
        </classes>
    </test>

</suite>